@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <br>
    Kim chcesz być?<br>
    <a asp-action="Guest">Guest</a>
    <a asp-action="Admin">Admin</a>
    <a asp-action="Userek">User (apor)</a>
</div>

@*<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@